.background-container {
  height: min-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

#background {
  letter-spacing: 2px;
  position: absolute;
  bottom: -70px;
  font-size: 20rem;
  letter-spacing: 10px;
  background-image: url("../Assets/history.jpg");
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: fantasy;
  filter: drop-shadow(4px 4px 8px rgba(25, 255, 255, 100));
  /* Adjust the values based on your preference */
  animation: slideshow infinite ease;
  animation-duration: 100s;
  z-index: -100px;
  transition: .5s ease-in-out;
}

.smaller {
  font-size: 14rem !important;
  bottom: -25px !important;
}

@keyframes slideshow {
  0% {
    background-image: url("../Assets/sports.jpg");
  }

  12.5% {
    background-image: url("../Assets/space.jpg");
  }

  25% {
    background-image: url("../Assets/history.jpg");
  }

  37.5% {
    background-image: url("../Assets/reasoning.jpg");
  }

  50% {
    background-image: url("../Assets/politics.webp");
  }

  62.5% {
    background-image: url("../Assets/tech.jpg");
  }

  75% {
    background-image: url("../Assets/sports.jpg");
  }

  87.5% {
    background-image: url("../Assets/space.jpg");
  }

  100% {
    background-image: url("../Assets/history.jpg");
  }
}


@media screen and (max-width: 920px) {
  .background-container {
    display: none;
  }

  #background {
    display: none;
  }
}