.footer {
    background-color: #f8f9fa71;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content div {
    margin: 5px 0;
    margin-right: 10px;
}

.footer-content a {
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.footer-content a:hover {
    transform: translateY(-3px);
}

.footer-content img {
    max-width: 48px;
    height: auto;
    display: block;
}

.footer-content a:hover img {
    filter: brightness(80%);
}

/* Media Queries */

@media screen and (max-width: 920px) {
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-content div {
        margin-right: 0;
    }

    .footer-content a {
        margin: 5px 0;
    }
}