/* footer.css */

.footer {
    margin-top: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
   
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content div {
    margin: 5px 0;
    margin-right: 10px;
}

.footer-content a {
    margin: 0 10px;
    display: inline-flex;
    /* Use inline-flex to allow flexible sizing */
    align-items: center;
    /* Align the items vertically */
    transition: transform 0.3s ease;
}

.footer-content a:hover {
    transform: translateY(-3px);
    /* Add a slight upward movement on hover */
}

.footer-content img {
    max-width: 48px;
    /* Set a maximum width for the images */
    height: auto;
    display: block;
    /* Ensure the images behave as block elements */
}

.footer-content a:hover img {
    filter: brightness(80%);
    /* Reduce the brightness of the icons on hover */
}

/* Media Queries */

@media screen and (max-width: 920px) {
    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-content {
        flex-direction: column;
        /* Change the direction of the flex items to vertical */
        align-items: flex-start;
        /* Align the items to the start of the container */
    }

    .footer-content div {
        margin-right: 0;
        /* Remove the right margin for the div elements */
    }

    .footer-content a {
        margin: 5px 0;
        /* Add margin to the anchor elements */
    }
}
