#ques-text {
    font-size: larger;
}
input{
    outline: none;
    border: none;
}
input#ques-text {
    height: 60px;
    width: 100%;
    resize: both;
    outline: none;
    border-radius: 25px;
    border: 2px solid #ff0099;
}

.option {
    color: aliceblue;
    font-size: larger;

}

.option:focus {
    background-color: #ff0099;
}

#ans {
    color: white;
}
#ans:focus{
    background-color: #00ff22;
}